<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SexyFishHorse.CitiesSkylines.Infrastructure" version="1.0.6203.30709" targetFramework="net35" />
  <package id="SexyFishHorse.CitiesSkylines.Logger" version="1.0.6198.39436" targetFramework="net35" />
  <package id="SexyFishHorse.CitiesSkylines.Redirection" version="1.0.6212.2077" targetFramework="net35" />
</packages>